<div class="row justify-content-center">
  <div class="col-8">
    <h1 class="my-3"> <%= @restaurant.name %></h1>
    <div class="border rounded p-3 mb-3">
      <p>Address: <%= @restaurant.address %></p>
      <p>Category: <%= @restaurant.category %></p>
    </div>


    <%# <%= link_to "add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
    <div class="d-flex justify-content-between">
    <div class="col-6">
      <p class="mt-3">Latest reviews:</p>
      <ul class="ps-0 mt-3">
        <% @restaurant.reviews.each do |review| %>
        <li class="d-flex justify-content-between list-unstyled border-bottom">
          <p class="mb-0"><%= review.content %></p>
          <p class="mb-2">Rating: <%= review.rating %>/5</p>
        </li>
      <%end  %>
      </ul>
    </div>

     <div class="col-5">
      <h4>Add a new review</h4>
      <%= simple_form_for [@restaurant, @review] do |f| %>
       <%= f.input :content %>
       <%= f.input :rating %>
       <%= f.submit "Submit review", class: "btn btn-primary" %>
      <% end %>
    </div>
    </div>




  </div>
</div>
